/* Kommentar im CSS-Block */
/* All-Selektor */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Times New Roman', serif sans-serif;
    /*background-image: url("assets/main_vorhang.gif");*/
    background-size: cover;
    background-repeat: no-repeat;
}

address {
    text-align: center;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 10px;
    width: 50%;
}

#header {
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

#navigation {
    position: relative;
    top: 220px;

}

#navigation ul {
    list-style: none;
    text-align: center;
}

#navigation li {
    display: inline-block;
    margin: 10px;
    border-radius: 15px;
}

dt img {
   margin: 35px;
}

/* Klassen-Selektoren */


/* ID-Selektoren */
#wrapper {
    margin: 0 auto;
    padding: auto;
}

#vorhang {
    position: absolute;
}

#vorhang:active {
    z-index: -100;
}
