/* Kommentar im CSS-Block */
/* All-Selektor */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Times New Roman', serif sans-serif;
    background-color: grey;
}

/* Elementselektoren */
#header h1, 
#header h2 {
    margin-bottom: 20px;
    text-align: center;
}

#navigation ul {
    list-style: none;
    text-align: center;
}

#navigation li {
    display: inline-block;
    margin: 10px;
}

.level_1{
	counter-reset:counter_level_1;
}

.level_1:before{
	content:counter(counter_level_1) ". ";
	counter-increment:counter_level_1;
}

.level_2{
	counter-reset:counter_level_2;
}

.level_2:before{
	content:counter(counter_level_1) "." counter(counter_level_2) " ";
	counter-increment:counter_level_2;
}

/* Klassen-Selektoren */


/* ID-Selektoren */
#wrapper {
    margin: 0 auto;
    padding: 20px;
    width: 1fr;
    background-image: url("programming.jpg");
}

#footer {
    border-top: 1px solid black;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
}
